    .updateButton {
      background-color:rgb(226 47 86);
      padding: 2px 5px;
      border-radius: 25px;
      color: #ffff;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
      height: 4.5vh;
      width: 14vh;
      margin: 3px;
      font-size: 3.5vh;
    }

    .buttonspace{
      display: flex;
      direction: ltr;
      justify-content: space-between;
    }

    td {
      /* set background color */
      background-color: #f2f2f2;
      
      /* set text color */
      color: #333;
      
      /* set font size */
      font-size: 14px;
      
      /* set font family */
      font-family: Arial, sans-serif;
      
      /* set border */
      border: 1px solid #ddd;
      
      /* set padding */
      padding: 10px;
      
      /* set text alignment */
      text-align: center;
      
      /* set vertical alignment */
      vertical-align: middle;
      
      }
    
      .TableCell {
        /* set background color */
        background-color: #333;
        
        /* set text color */
        color: #333;
        
        /* set font size */
        font-size: 14px;
        
        /* set font family */
        font-family: Arial, sans-serif;
        
        /* set border */
        border: 5px solid #ddd;
        
        /* set padding */
        padding: 10px;
        
        /* set text alignment */
        text-align: center;
        
        /* set vertical alignment */
        vertical-align: middle;
        
        /* set hover effect */
        transition: all 0.2s ease;

      }      